<footer class="main-footer">
    <div class="container">
        <ul class="breadcrumb">
            <li><span>Copyright &copy; 2016 <a href="http://www.hamakor.org.il/" target="_blank"><strong>Hamakor</strong></a></span></li>
            <li><span>Powered by <a href="https://gitlab.com/hamakor/organ" target="_blank"><strong>Organ</strong></a></span></li>
            <li><span>Theme: <a href="https://github.com/almasaeed2010/AdminLTE" target="_blank">AdminLTE</a> by <a href="http://almsaeedstudio.com" target="_blank">Almsaeed Studio</a></span></li>
        </ul>
    </div>
    <!-- /.container -->
</footer>
