<!-- Links Box -->
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Links</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <strong><i class="fa fa-book margin-r-5"></i> Github</strong>

        <p class="text-muted">
            {% if github %}
                {{ github }}
            {% else %}
                <a href="{% url 'social:begin' 'github' %}">Connect</a>
            {% endif %}
        </p>

        <hr>

        <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->