<div class="box box-primary">{% load avatar_tags %}
    <div class="box-body box-profile">
        {% avatar user class='profile-user-img img-responsive img-circle' alt='User profile picture' %}

        <h3 class="profile-username text-center">{% firstof user.get_full_name user.username %}</h3>

        {% if user.member %}
        <p class="text-muted text-center">Joined {{ user.member.joined }}</p>
        {% elif request.user == user %}
        <p class="text-center">
            <button class="btn btn-success">Join now</button>
        </p>
        {% endif %}

        <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
                <b>Username</b> <a class="pull-right">{{ user.username }}</a>
            </li>
            <li class="list-group-item">
                <b>Full name</b> <a class="pull-right">{{ user.get_full_name }}</a>
            </li>
            <li class="list-group-item">
                <b>Email</b> <a class="pull-right">{{ user.email }}</a>
            </li>
            {% if user.member %}
            <li class="list-group-item">
                <b>Member Type</b> <a class="pull-right">{{ user.member.type }}</a>
            </li>
            {% endif %}
        </ul>

        {% if request.user != user %}
            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
        {% endif %}
    </div>
    <!-- /.box-body -->
</div>