<!DOCTYPE html>{% load static from staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body class="{% block bocy-class %}{% endblock %}">
        {% block body %}{% endblock %}
        {% block foot %}{% endblock %}
    </body>
</html>