{% extends "base.html" %}{% load static from staticfiles %}

{% block title %}Organ{% if subtitle %} - {{ subtitle }}{% endif %}{% endblock %}

{% block head %}
    <link href="{% static 'AdminLTE/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'Ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'AdminLTE/dist/css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'AdminLTE/dist/css/skins/_all-skins.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
{% endblock %}

{% block bocy-class %}hold-transition skin-blue layout-top-nav{% endblock %}

{% block body %}
    <div class="wrapper">
        <header class="main-header">
            {% include 'partials/navbar.html' %}
        </header>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="container">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {% block header-title %}{% endblock %}
                        <small>{% block header-subtitle %}{% endblock %}</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    {% block content %}{% endblock %}
                </section>
            </div>
        </div>
        {% include 'partials/footer.html' %}
    </div>
{% endblock %}


{% block foot %}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'AdminLTE/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'AdminLTE/dist/js/app.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
